@import url(https://fonts.googleapis.com/css?family=Roboto:300);

  .container {
    width: 50%;
  }
  
  h1 { 
    font-family: "Roboto", sans-serif;
    padding-top: 12px;
    font-size: 26px; 
  }

  body {
    background: #83d061; 
    font-family: "Roboto", sans-serif;     
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  /* .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #3a791f;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  } */
  
  a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
}
