@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1 {
    color: #FFFFFF;
    font-size: 26px;
  }

#map{
    height: 600px;
    width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #3a791f;
  border-color: #3a791f;
}

button, input {
  overflow: visible;
  width: 100%;
}

.container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }
 
  body {
    background: #83d061; 
    font-family: "Roboto", sans-serif;     
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    /* width: 100%; */
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

    label {
      display: table-row;
      margin-bottom: .5rem;
  }
  
  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin-top: 24px;
}

.btn-matrix > .btn:nth-child(3n+4) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n+4) {
  margin-top: -1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(3) {
  border-top-right-radius: 4px !important;
}
/* .btn-matrix > .btn:nth-last-child(3) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
} */

/* Decorations */
.btn-matrix {
  margin: 20px;
}
 